<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Validando formulários com JQuery Validation</title>
<!-- Inclusão do jQuery-->
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<!-- Inclusão do Plugin jQuery Validation-->
<script src="http://jqueryvalidation.org/files/dist/jquery.validate.js"></script>

<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>

</head>
<body>
 
    <form id="form" method="post" action="">
        <fieldset>
          <legend>Refatorando regras e mensagens de validação - Cadastro de cliente </legend>
          <p>
            <label for="campo1">campo 1</label>
            <input class="cliente" type="text" id="campo1" name="campo1" >
          </p>
            <p>
            <label for="campo2">campo 2</label>
            <input class="cliente" type="text" id="campo2" name="campo2" >
          </p>
            <p>
            <label for="campo3">campo 3</label>
            <input class="cliente" type="text" id="campo3" name="campo3" >
          </p>
            <p>
            <label for="campo4">campo 4</label>
            <input class="cliente" type="text" id="campo4" name="campo4" >
          </p>
            <p>
            <label for="campo5">campo 5</label>
            <input class="cliente" type="text" id="campo5" name="campo5" >
          </p>
            <p>
            <label for="campo6">campo 6</label>
            <input class="cliente" type="text" id="campo6" name="campo6" >
          </p>
           <p>
            <label for="campo7">campo 7</label>
            <input class="cliente" type="text" id="campo7" name="campo7" >
          </p>
           <p>
            <label for="campo8">campo 8</label>
            <input class="cliente" type="text" id="campo8" name="campo8" >
          </p>
           <p>
            <label for="campo9">campo 9</label>
            <input class="cliente" type="text" id="campo9" name="campo9" >
          </p>
           <p>
            <label for="campo10">campo 10</label>
            <input class="cliente" type="text" id="campo10" name="campo10" >
          </p>
          <p>
            <input type="submit" value="Enviar">
          </p>
        </fieldset>
      </form>

<!-- Inclusão das validações com o Plugin jQuery Validation-->
<script src="validacao3.js"></script>
</body>
</html>